.inputItems{
   display: flex;
   align-items: center;
   justify-content: center;
   
   color: gray;
   padding: 8px;
   width: 100%;
   font-size: 1rem;
   margin-bottom: 10px;
}
.inputItems:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}
.inputItems>p{
    margin-left: 10px;
}